.page-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-container {
  position: relative;
  height: 50%;
  width: 80%;
  min-height: 480px;
  max-width: 1920px;
}

.title {
  font-size: var(--font-size-m);
  position: absolute;
  top: 0;
  transform: translateY(-150%);
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.5rem;
}

.view-container {
  background-color: red;
  height: 100%;
  aspect-ratio: 1;
  max-width: 50%;
}

.cards-container {
  background-color: var(--color-background-two);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card-container {
  background-color: #008000;
  position: absolute;
  width: 100%;
  height: calc(100% - 4rem);
  bottom: 0;
  transition: all var(--transition-normal);
}

.card-container:first-of-type {
  background-color: #FF0000;
  height: 100%;
} 

.card-container:last-of-type {
  background-color: #0000FF;
  height: calc(100% - 8rem);
}

.scroll-indicator {
  width: 1rem;
  height: 100%;
  background-color: var(--color-background-two);
  position: relative;
  overflow: hidden;
}

.scroll-progress-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-main);
}




/* .tips {
  padding: 0.5rem;
  align-self: flex-end;
} */