.container {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  gap: 20px;
}

.button-container {
  background-color: var(--color-main);
  width: 40px;
  height: 40px;
  pointer-events: all;
  cursor: pointer;
  border-radius: var(--br-xs);
  color: var(--color-background-one);
}