.container {
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  position: relative;
  z-index: 20;
  color: var(--color-main);
  background-color: green;
  opacity: 0.5;
}