.container {
  height: 20vh;
  border-top: 2px solid var(--color-main);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  width: 100%;
  background-color: var(--color-main);
  text-align: center;
  font-size: 0.75rem;
}

/* @media (min-width: 768px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
} */

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0px 0px 0px var(--br-m);
  background-color: var(--color-background-one);
}

.footer-button:last-of-type {
  border-left: 2px solid var(--color-main);
  border-radius: 0px 0px var(--br-m) 0px;
}

.footer-button:hover {
  background-color: var(--color-main);
  color: var(--color-background-one);
}