.container {
  position: relative;
  width: 3rem;
  height: 3rem;
  pointer-events: all;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: var(--br-xs);
  overflow: hidden;
}

.container:hover .language-button {
  background-color: var(--color-accent);
}

.language-button {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-main);
  transition: transform var(--transition-normal);
  color: var(--color-background-one);
  display: flex;
  justify-content: center;
  align-items: center;
}