

.work-image-container {
  aspect-ratio: 16 / 9;
}

.work-image {
  width: 100%;
  height: 100%;
  background-color: var(--color-main)77;
}

.info-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.info-container p {
  line-height: 150%;
  font-family: var(--font-text);
  width: 50%;
  text-align: justify;
}

.links-container {
  display: flex;
  gap: 1rem;
  align-items: start;
}

@media (max-width: 768px) {
  .info-container {
    flex-direction: column-reverse;
  }

  .info-container p {
    width: 100%;
  }

  .links-container {
    align-self: flex-end;
  }
}

.section-title {
  font-size: var(--font-size-m);
}

.tech-container {
  background-color: green;
}