.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-size: var(--font-size-s);
  box-sizing: border-box;
  padding: 5vh;
}

.skill-list {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 500px;
}

@media (min-width: 1024px) {
  .skill-list  {
    flex-direction: row;
    gap: 5vh;
    max-width: unset;
  }
}

.skill-container {
  background-color: var(--color-background-two);
  padding: 1rem;
  box-sizing: border-box;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 50vh;
}

.skill-container h4 {
  font-size: var(--font-size-s);
}

.skill-container p {
  line-height: 150%;
  font-family: var(--font-text);
  text-align: justify;
}

.skill-item-container {
  margin-top: auto;
  display: flex;
  width: 100%;
  gap: 0.5rem;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.skill-item {
  padding: 0.5rem;
  border: 1px solid var(--color-main);
  border-radius: var(--br-s);
}