.container {
  height: 100%;
  width: 100%;
  background-color: var(--color-main);
  color: var(--color-background-one);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-title);
  overflow: hidden;
  padding-bottom: 40px;
  gap: 5vh;
}

.links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .links-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.links-container a {
  cursor: pointer;
}

.marquee-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: flex-end;
  font-size: max(1rem, 1.5vw);
  line-height: 125%;
}

@media (min-width: 768px) {
  .marquee-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.copyright-container {
  text-align: end;
}