.container {
  padding: 1rem;
  border-radius: var(--br-xs);
  color: var(--color-background-one);
  background-color: var(--color-main);
  /* aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.container:hover {
  background-color: var(--color-accent);
  color: var(--color-main);
}