.container {
  padding: 1rem;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
}

.container:hover {
  background-color: var(--color-accent);
  color: var(--color-main);
}