.container {
  height: 90svh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1rem;
  box-sizing: border-box;
  font-size: min(11.25vw, 10vh);
  line-height: 115%;
  position: relative;
}

.view-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.title-container {
  opacity: 0;
  pointer-events: none;
}