.container {
  min-height: 85svh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1rem;
  box-sizing: border-box;
  font-size: min(11.25vw, 10vh);
  line-height: 115%;
}

.container h2 {
  color: var(--color-background-one);
  font-style: italic;
  text-shadow: -1px -1px 0 var(--color-main), 1px -1px 0 var(--color-main), -1px 1px 0 var(--color-main), 1px 1px 0 var(--color-main);
}