.container {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
}

.view-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.title-container {
  pointer-events: none;
  z-index: 20;
  font-size: min(13.5vw, 10vh);
  line-height: 120%;
  color: #e9e9e9;
  mix-blend-mode: difference;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container h2 {
  font-style: italic;
}

.tips {
  position: absolute;
  bottom: 1svh;
  z-index: 20;
  font-size: 3.5vw;
}