.container {
  z-index: 40;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-family: var(--font-title);
}

.cube {
  width: 20vw;
  height: 20vw;
  background-color: var(--color-background-one);
  border-radius: var(--br-s);
}

.text {
  position: absolute;
  right: 1rem;
  bottom: 0;
  font-size: max(3.5vw, 1rem);
  color: var(--color-background-one);
  line-height: 150%;
}