.container {
  margin: 20px;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  pointer-events: all;
  font-size: 0rem;
}

.opened-container {
  pointer-events: none;
  gap: 0.75rem;
  font-size: 1rem;
}

.menu-item {
  background-color: var(--color-main);
  width: 24px;
  height: 24px;
  border-radius: var(--br-xs);
  transition: 
    width var(--transition-normal),
    height var(--transition-normal),
    color var(--transition-normal),
    font-size var(--transition-normal)
  ;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-main);
  overflow: hidden;
  box-sizing: border-box;
  justify-self: end;
}

.menu-item:nth-child(2) {
  transition-delay: 0.075s;
}

.menu-item:nth-child(4) {
  transition-delay: 0.15s;
}

.opened-container .menu-item {
  width: max(7vw, 14vh);
  height: max(7vw, 14vh);
  pointer-events: all;
  color: var(--color-background-one);
}

.opened-container .menu-item:hover {
  background-color: var(--color-accent);
  color: var(--color-background-one);
}

.menu-item span {
  position: relative;
}

.menu-item span::before {
  content: '-> ';
  position: absolute;
  top: 0;
  left: -2rem;
  opacity: 0;
  transition: all var(--transition-quick);
}

.menu-item:hover span::before {
  opacity: 1;
  left: -1rem;
}


/* .opened-container .menu-item:last-of-type {
  background-color: var(--color-accent);
} */

.close-button {
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--color-main);
  border-radius: var(--br-xs);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  box-sizing: border-box;
  transition: 
    width var(--transition-normal),
    height var(--transition-normal),
    color var(--transition-normal),
    opacity var(--transition-normal)
  ;
}

.opened-container .close-button {
  opacity: 1;
  width: 36px;
  height: 36px;
  pointer-events: all;
  color: var(--color-background-one);
}

.opened-container .close-button:hover {
  background-color: var(--color-accent);
}