.container {
  background-color: var(--color-background-two);
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
  align-items: center;
  z-index: 20;
  position: relative;
}

.work-list {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(264px, 1fr);
  padding: 1rem;
  box-sizing: border-box;
  gap: 10vh;
  justify-items: center;
  max-width: 1024px;
}

@media (min-width: 768px) {
  .work-list {
    grid-template-columns: minmax(264px, 1fr) minmax(264px, 1fr);
  }
}

.section-title {
  font-size: var(--font-size-s);
  box-sizing: border-box;
  padding: 5vh;
}

.work-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.work-preview-image {
  max-width: min(100%, 500px);
  aspect-ratio: 1;
  border-radius: var(--br-xs);
}

.work-container h3 {
  font-size: var(--font-size-s);
}