.container {
  background-color: #717171;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
  align-items: center;
}

.work-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(264px, 1fr) );
  padding: 1rem;
  box-sizing: border-box;
  gap: 2.5rem;
  justify-items: center;
}

.section-title {
  font-size: var(--font-size-s);
  box-sizing: border-box;
  padding: 1rem;
}

.work-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.work-preview-image {
  max-width: min(100%, 500px);
  aspect-ratio: 1;
  border-radius: var(--br-xs);
}

.work-container h3 {
  font-size: var(--font-size-s);
}