.container {
  padding: 1rem 0.5rem 1rem 0.5rem;
  border: 2px solid var(--color-main);
  border-radius: var(--br-xs);
  align-self: flex-end;
}

.container:hover {
  background-color: var(--color-main);
  color: var(--color-background-one)
}