.container {
  border: 2px solid var(--color-main);
  padding: 1rem;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-background-two);
  font-size: 0.75rem;
}

.container:hover {
  background-color: var(--color-main);
  color: var(--color-background-one);
}

.item-link {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-xs);
}