.info-container {
  display: flex;
  flex-direction: column;
}

.info-container p {
  line-height: 125%;
  font-family: var(--font-text);
}

.links-container {
  display: flex;
  gap: 1rem;
  align-items: start;
}

.section-title {
  font-size: var(--font-size-m);
}