.footer-links-container {
  background-color: var(--color-background-two);
  height: 20vh;
  border-top: 2px solid var(--color-main);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 0 0px var(--br-l) var(--br-l);
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .footer-links-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.footer-button {
  border-left: 2px solid var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(to bottom, var(--color-background-two) 50%, var(--color-main) 50%) top;
  background-size: 100% 205%;
  transition: all var(--transition-quick);
}

.footer-button:hover {
  color: var(--color-background-one);
  background-position: bottom;
  text-decoration: underline;
}

.footer-container {
  position: relative;
  z-index: 40;
}