.mobile-app-container {
  box-sizing: border-box;
  color: var(--color-main);
  background-color: var(--color-background-one);
  font-family: var(--font-title);
}

/* Frame border */
@media (min-width: 768px) {
  .mobile-app-container {
    padding: 20px;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
}

/* .noscroll {
  overflow: hidden;
  height: 100%;
  position: relative;
} */