.container {
  margin: 20px;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
  pointer-events: all;
}

.opened-container {
  pointer-events: none;
  gap: 12px;
}

.menu-item {
  background-color: var(--color-main);
  width: 24px;
  height: 24px;
  border-radius: var(--br-xs);
  transition: 
    width var(--transition-normal),
    height var(--transition-normal),
    color var(--transition-normal)
  ;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-main);
  overflow: hidden;
  box-sizing: border-box;
}

.opened-container .menu-item {
  width: 12vh;
  height: 12vh;
  pointer-events: all;
  color: var(--color-background-one);
}

.opened-container .menu-item:hover {
  background-color: var(--color-background-one);
  border: 2px solid var(--color-main);
  color: var(--color-main);
}

/* .opened-container .menu-item:last-of-type {
  background-color: var(--color-accent);
} */

.close-button {
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--color-main);
  border-radius: var(--br-xs);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  box-sizing: border-box;
  transition: 
    width var(--transition-normal),
    height var(--transition-normal),
    color var(--transition-normal),
    opacity var(--transition-normal)
  ;
}

.opened-container .close-button {
  opacity: 1;
  width: 36px;
  height: 36px;
  pointer-events: all;
  color: var(--color-background-one);
}

.opened-container .close-button:hover {
  background-color: var(--color-background-one);
  border: 2px solid var(--color-main);
  color: var(--color-main);
}