.container {
  margin: 20px;
  pointer-events: all;
  cursor: pointer;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  mix-blend-mode: color-burn;
  position: relative;
  color: var(--color-background-one);
  overflow: hidden;
}

.menu-bar {
  width: 3.5rem;
  height: 7px;
  background-color: var(--color-main);
  border-radius: 2px;
  transition: width var(--transition-normal), height var(--transition-normal), border-radius var(--transition-normal);
}

.opened-menu-bar {
  width: 15rem;
  height: 5rem;
  border-radius: 0px;
}

.opened-menu-bar:first-of-type {
  border-radius: var(--br-s) var(--br-s) 0 0;
}

.opened-menu-bar:nth-of-type(n + 3) {
  border-radius: 0 0 var(--br-s) var(--br-s);
}

.menu-content-container {
  position: absolute;
  top: 0;
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  box-sizing: border-box;
  transition: opacity var(--transition-normal);
}

.menu-title {
  padding-bottom: 1rem;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.link {
  font-size: var(--font-size-s);
  position: relative;
}

.link::after {
  font-size: var(--font-size-s);
  content: '->';
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
}

.link:hover {
  color: blue;
}