.container {
  margin: 20px;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
  pointer-events: all;
}

.opened-container {
  pointer-events: none;
  gap: 12px;
}

.menu-item {
  background-color: var(--color-main);
  border-radius: var(--br-xs);
  width: 24px;
  height: 24px;
  transition: 
    width var(--transition-normal),
    height var(--transition-normal),
    color var(--transition-normal)
  ;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-main);
  overflow: hidden;
  box-sizing: border-box;
}

.opened-container .menu-item {
  width: 12vh;
  height: 12vh;
  pointer-events: all;
  color: var(--color-background-one);
}

.opened-container .menu-item:hover {
  background-color: var(--color-background-one);
  border: 2px solid var(--color-main);
  color: var(--color-main);
}

.menu-item:nth-child(3) {
  grid-column: 2;
}