.page-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 25;
  overflow-y: auto;
  background-color: var(--color-background-one);
  scrollbar-width: none;
  scrollbar-gutter: stable;
  -ms-overflow-style: none;
  opacity: 0;
}

.container {
  background-color: var(--color-background-one);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}